
$navColor: #a4c3b2;
$meetColor: #ff64cb;
$cercle: #d8dfd7;
$green: #28b485;
$text: #3b3b3b;
$skillsBg: #2d4d44;
$partenaireBg: #d8dfd7;
$specialFeaturesBg: #d8dfd7;
$btnBeige: #f09d6d;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

section {
  padding: 4em 2em;
  text-align: center;
}
